<html>
    <head>
        <%- include ("./helpers/head.ejs") %>
        <link rel="stylesheet" type="text/css" href="/index.css"/>
    </head>
           
<body>

    <main class="cover-container-sm d-flex  p-3 mx-auto flex-column" id="main">
        <div class="row justify-content-center" id="greeting">
            <h1 class="text primary">Hey!</h1>
            <a href="admin.html"><img src="images/thumbsUpMemoji.png" height="84px" width="76px" alt="memoji"></a>
        </div>
        <div>
            <p class="text-center" id="name">I'm Sam Casey</p>
            <p class="text-center" id="callToAction">Click around to learn more about me and explore some of my passion projects</p>
        </div>

        <div class="flex-container " id="buttonContainer">
            <div class="row text-center buttons">
                <div class=" col buttons">
                    <a href="aboutMe" class="btn btn-dark" role="button ">About Me</a>
                </div>
                <div class="col text-center buttons">
                    <a href="projects" class="btn btn-dark" " role="button ">Software Projects</a>
                </div>
                <div class="col buttons ">
                    <a href="writing" class="btn btn-dark " " role="button ">Writing</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>