body {
    background: rgb(0, 0, 77);
    display: flex;
    margin-top: 0;
    margin-bottom: 3vh;
    margin-right: 0%;
    font-size: 1.5vmax;
    justify-content: center;
}

.container{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    height: 15vh;
    width: 100vw;
}

h1{
    color: rgb(148, 180, 240)
}